.form-produto {
  padding: 0.5rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}


input {
  width: 100%;
  margin-bottom: 1.5rem;
}

::ng-deep .p-inputnumber {
  width: 100% !important;
  margin-bottom: 1.5rem;
}


::ng-deep .p-dropdown {
  margin-bottom: 1.5rem;
  width: 100%;
}

::ng-deep .p-fileupload {
  display: flex;
  justify-content: center; 
  margin-bottom: 1.5rem;
}

