<p-dialog 
  header="Adicionar novo {{ tituloFormulario }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  (onHide)="fecharDialog()"
  [resizable]="true">
  <ng-content></ng-content>
  <ng-template pTemplate="footer">
    <p-button 
        label="Cancelar" 
        [text]="true" 
        severity="secondary" 
        (onClick)="visible = false" />
    <p-button 
        label="Salvar" 
        [outlined]="true" 
        severity="primary" 
        (onClick)="visible = false" 
      />
</ng-template>
</p-dialog>