<div class="form-geral">
  <form [formGroup]="clienteForm" (ngSubmit)="salvarForm()">
    <div class="field">
      <label for="nome" class="mb-2 block font-bold">Nome</label>
      <input id="nome" type="text" pInputText formControlName="nome" required />
    </div>
    
    <div class="formgrid grid linha-contato-cnpj">
      <div class="field col-6">
        <label for="cpf_cnpj" class="mb-2 block font-bold">CPF</label>
        <p-inputMask
          mask="999.999.999.99"
          formControlName="cpf_cnpj"
          required />
      </div>

      <div class="field col-6">
        <label for="contato" class="mb-2 block font-bold">Contato</label>
        <p-inputMask
          mask="(99) 9999-9999"
          formControlName="contato"
          required />
        <small class="p-error" *ngIf="submitted && clienteForm.get('contato')?.invalid">
          Contato é obrigatório.
        </small>
      </div>
    </div>

    <div class="field">
      <label for="endereco" class="mb-2 block font-bold">Endereço</label>
      <textarea id="endereco" pInputTextarea formControlName="endereco" rows="3" cols="20"></textarea>
    </div>

    <p-button label="Salvar" [outlined]="true" severity="primary" type="submit"
      [disabled]="clienteForm.invalid" styleClass="botao-salvar-centralizado"/>
  </form>
</div>