<div class="background">
  <img src="../../../assets/imagens/logo_branca.png" alt="Logo" class="logo">
  <div class="form-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p-card [style]="{ width: '540px', padding: '3rem', borderRadius: '2rem' }">
        <ng-template pTemplate="header">
          <div class="header-card">
            <i class="pi pi-user" style="font-size: 3rem"></i>
            <h2>Bem-vindo, Usuário!</h2>
            <p>Faça login para continuar</p>
          </div>
        </ng-template>
        <div class="form-content">
          <label for="email" class="mb-2 block font-bold">E-mail</label>
          <input id="email" type="email" pInputText formControlName="email" placeholder="Digite seu e-mail"/>
          <label for="senha" class="mb-2 block font-bold">Senha</label>
          <input id="senha" type="password" pInputText formControlName="senha" placeholder="Digite sua senha"/>
        </div>
        <div class="options">
          <div class="lembrar-login">
            <p-checkbox binary="true" class="remember-checkbox"></p-checkbox>
            <label for="lembrarLogin">Lembrar de mim</label>
          </div>
          <a class="forgot-password" href="/cadastro">Não possui cadastro?</a>
        </div>
        <button pButton type="submit" label="CONTINUAR" class="submit-btn"></button>
      </p-card>
    </form>
  </div>
</div>

<p-toast></p-toast>