<app-menu-superior nomePagina="Produtos"></app-menu-superior>
<app-menu-lateral></app-menu-lateral>
<div class="card">
  <p-table #dt1 [value]="produtos" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    [loading]="false" [tableStyle]="{ 'width': '100%' }"
    styleClass="p-datatable-gridlines" [resizableColumns]="true">

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button label="Limpar" [outlined]="true" icon="pi pi-filter-slash" class="botao-icone" (onClick)="limpar(dt1)" />
        <p-button label="Adicionar Produto" icon="pi pi-plus" (onClick)="abrirDialog()" class="botao-adicionar botao-icone"/>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:3rem" pSortableColumn="id">ID <p-sortIcon field="id" /></th>
        <th pSortableColumn="nome" style="min-width:10rem">
          Nome
          <p-columnFilter type="text" field="nome" display="menu"/>
        </th>
        <th style="min-width:10rem">Imagem</th>
        <th pSortableColumn="descricao" style="min-width:10rem">
          Descrição
          <p-columnFilter type="text" field="descricao" display="menu"/>
        </th>
        <th style="min-width:10rem" pSortableColumn="preco">Preço <p-sortIcon field="preco" /></th>
        <th style="min-width:3rem" pSortableColumn="quantidade">Quantidade <p-sortIcon field="quantidade" /></th>
        <th style="min-width:10rem">
          Fornecedor
          <p-columnFilter type="text" field="fornecedor" display="menu"/>
        </th>
        <th style="min-width:3rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-produto>
      <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td><img [src]="produto.imagem" alt="Imagem do Produto" style="width: 100px; height: auto;"></td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.preco | currency: 'BRL' }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.fornecedor?.nome }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2 gap-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editaProduto(produto)" />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="abrirConfirmacaoExclusao(produto)" /> 
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-dialog [(visible)]="dialogVisible" tituloFormulario="produto">
  <app-formulario-produto (salvar)="salvarProduto($event)" [produto]="produtoSelecionado"></app-formulario-produto>
</app-dialog>

<app-confirmation-dialog
  (onConfirm)="deletaProduto()">
</app-confirmation-dialog>

<p-toast></p-toast>

